/**
 * Default CSS for the tooltip.  Override this with your own CSS file
 */
.tooltip {
  background-color: #fff;
  border: 1px solid #000;
  padding: 1em;

  border-radius: 5px;
  box-shadow: 3px 3px 3px #c0c0c0;
}
