// Settings 

$gray: silver;
$red:rgb(240,90,40);
$green:rgb(88,192,162);
$main-back: rgb(240,240,240);

body {
	margin: 0;
	padding: 0;
}

header > .section, .messages, .tabs, #skip-link {
	display:none;
}

h1 {
	color:darken($gray,10);
}


h2, h3, h4, h5, h6 {
	color:$gray;
	margin-bottom: 15px;
	padding: 0;
}

p {
	font-size:68.75%;
}

// Styling for Kicklow content page

#admin-menu {
	display:none;
}

.box {
	padding:10px;
	margin:10px 0;
}

#page-wrapper {
  background-color: $main-back;
  margin:0 auto;
  padding: 20px;

	h1.title {
		padding:10px;
		color:darken($gray,20);
	}

	.proj-info {
	  width: 65%;
	  float:left;

		.proj-deets {
		  background:white;
		  

			.proj-owner {
			  width: 40%;
			  float:left;
			  border-right:1px solid $main-back;
			} // proj-owner

			.proj-type, .proj-date {
			  width: 24%;
			  float:left;
			}
		} // proj-deets

		.proj-status {
		  background:white;
		  margin:10px 0;
		}

		.proj-desc {
		  width: 60%;
		  float:left;
		}


		.proj-resources {
		  width: 31%;
		  float: right;

		  .one-res > h3 {
		    font-size: 14px;
		    color:black;
		    margin:0;

		  }

		  .one-res > a {
		    color:$green;
		    font-size:10px;
		    display:inline-block;
		    margin-bottom:20px;
		  }
		}

		.proj-contribs {
		}

		.proj-updates {

		  .update {
		    padding: 20px;
		    background:white;
		    margin-bottom:15px;
		  } // .proj-updates
		} 
		
		.proj-comments {

		  #comments {
			
		  .title {
		  	display:none;

		  }
			
		  .comment {
			padding:15px 20px;
			margin-bottom: 15px;
			background-color: white;

			> h3, .links.inline {
				display:none;
			}

			.content {
				margin-top: 15px;
			}

		  }

		  .comment-form {

		  	.form-item-subject {
		  		display:none;
		  	}

		  	.form-actions {
		  		input#edit-preview{
		  			display:none;
		  		}

		  		input#edit-submit {

	  				border-radius: 3px;
	  				padding:5px 10px;
	  				background-color: $red;
	  				border:none;
	  				color:white;

	  				&:hover {
	  					cursor:pointer;
	  				}
		  		}
		  	}
		  }
		 } // #comments
		} // .proj-comments

	} // proj-info

	.all-bounties {
	  padding:15px;
	  width: 26%;
	  margin:0 auto;
	  float:right;

		.bounty {
		  background:white;
		  padding:15px;
		  margin:10px 0;

		  p:nth-last-child(2) {
		  			overflow : hidden;
		  		  text-overflow: ellipsis;
		  		  display: -webkit-box;
		  		  -webkit-line-clamp: 2;
		  		  -webkit-box-orient: vertical;
		  }  

		  .bounty-title {
		  	color:darken($gray,20);
		  	margin:0;
		  }

		  .bounty-date {
			color:lighten($gray,10);
			margin-bottom:25px;
		  }

		  button {
			
			border-radius: 3px;
			padding:5px 10px;
			background-color: $red;
			border:none;

		  	a {
		  		text-decoration: none;
		  		display:block;
		  		color:white;
		  		border-radius: inherit;
		  		
		  	}
		   }
		}
	} // all-bounties
} // proj-wrapper


