body {
  background: #f0f0f0;
  color: #333333;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.875em; }

.hr,
.node-inner > .content hr {
  background: black;
  border: none;
  height: 1px;
  line-height: 1px;
  margin: 5px 0px;
  overflow: hidden; }

.cl {
  clear: both;
  height: 0px;
  line-height: 0px;
  overflow: hidden; }

.floatR {
  float: right; }

.floatL {
  float: left; }

a:link, a:visited {
  color: blue;
  text-decoration: none; }

a:hover, a:active {
  color: red;
  text-decoration: underline; }

/* Titles. */
#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3em; }

h1 {
  font-size: 2.2em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0; }

h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 0.75em; }

h3 {
  font-size: 1.4em;
  margin-bottom: 1em; }

h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em; }

h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0; }

h6 {
  font-size: 1em;
  font-weight: bold; }

/* Paragraph styles. */
p {
  margin: 0 0 1em 0; }

/* List styles. */
ul,
ol {
  margin-left: 0;
  padding-left: 2em; }

/* Table styles. */
table {
  width: 99%; }

tr.even td,
tr.odd td {
  padding: 10px 5px; }

tr.odd {
  background-color: white; }

/* Code. */
pre,
code,
tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5; }

pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa; }

/* List styles. */
ul {
  list-style-type: disc; }

ul ul {
  list-style-type: circle; }

ul ul ul {
  list-style-type: square; }

ul ul ul ul {
  list-style-type: circle; }

ol {
  list-style-type: decimal; }

ol ol {
  list-style-type: lower-alpha; }

ol ol ol {
  list-style-type: decimal; }

/* UI improvments. */
#edit-title {
  font-size: 24px;
  width: 99%; }

#system-themes-form img {
  width: 100px; }

.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777; }

#edit-delete {
  color: #cc0000; }

/* Console, style from slate theme. */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee; }

div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55; }

div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522; }

div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77; }

header {
  margin: 0 0 10px;
  padding: 30px 0; }
  header #logo {
    display: block;
    height: 70px; }
    header #logo img {
      height: 100%;
      width: auto; }

#footer {
  background: #efefef; }

#sidebar-first {
  background: #e7edff; }

#sidebar-second {
  background: #ffd075; }

nav {
  background: white;
  margin: 0 0 40px; }

.node-type-kicklow {
  margin: 0;
  padding: 0; }
  .node-type-kicklow header > .section, .node-type-kicklow .tabs, .node-type-kicklow #skip-link {
    display: none; }
  .node-type-kicklow h1 {
    color: #a7a7a7; }
  .node-type-kicklow h2, .node-type-kicklow h3, .node-type-kicklow h4, .node-type-kicklow h5, .node-type-kicklow h6 {
    color: silver;
    margin-bottom: 15px;
    padding: 0; }
  .node-type-kicklow p {
    font-size: 68.75%; }
  .node-type-kicklow a {
    color: black;
    text-decoration: none; }
  .node-type-kicklow #admin-menu {
    display: none; }
  .node-type-kicklow .box {
    margin: 10px 0;
    padding: 10px; }
  .node-type-kicklow #page-wrapper {
    background-color: #f0f0f0;
    margin: 0 auto;
    padding: 20px;
    max-width: 1150px; }
    .node-type-kicklow #page-wrapper h1.title {
      color: #8d8d8d;
      padding: 10px; }
    .node-type-kicklow #page-wrapper .proj-info {
      float: left;
      width: 65%; }
      @media screen and (max-width: 800px) {
        .node-type-kicklow #page-wrapper .proj-info {
          width: 100%; } }
      .node-type-kicklow #page-wrapper .proj-info .proj-deets {
        background: white; }
        .node-type-kicklow #page-wrapper .proj-info .proj-deets .proj-owner {
          border-right: 1px solid #f0f0f0;
          float: left;
          width: 40%; }
        .node-type-kicklow #page-wrapper .proj-info .proj-deets .proj-type, .node-type-kicklow #page-wrapper .proj-info .proj-deets .proj-date {
          float: left;
          width: 24%; }
      .node-type-kicklow #page-wrapper .proj-info .proj-status {
        background: white;
        margin: 10px 0; }
        .node-type-kicklow #page-wrapper .proj-info .proj-status .title {
          text-align: center; }
        .node-type-kicklow #page-wrapper .proj-info .proj-status .chart1 {
          display: inline-block;
          max-width: 150px; }
        .node-type-kicklow #page-wrapper .proj-info .proj-status canvas {
          max-width: 200px;
          max-height: 200px; }
      .node-type-kicklow #page-wrapper .proj-info .proj-desc {
        width: 60%;
        float: left; }
      .node-type-kicklow #page-wrapper .proj-info .proj-resources {
        width: 31%;
        float: right; }
        .node-type-kicklow #page-wrapper .proj-info .proj-resources .one-res > h3 {
          font-size: 14px;
          color: black;
          margin: 0; }
        .node-type-kicklow #page-wrapper .proj-info .proj-resources .one-res > a {
          color: #58c0a2;
          font-size: 10px;
          display: inline-block;
          margin-bottom: 20px; }
      .node-type-kicklow #page-wrapper .proj-info .proj-updates .update {
        padding: 20px;
        background: white;
        margin-bottom: 15px; }
      .node-type-kicklow #page-wrapper .proj-info .proj-comments #comments .title {
        display: none; }
      .node-type-kicklow #page-wrapper .proj-info .proj-comments #comments img:first-of-type {
        border-radius: 50%; }
      .node-type-kicklow #page-wrapper .proj-info .proj-comments #comments .comment {
        padding: 15px 20px;
        margin-bottom: 15px;
        background-color: white; }
        .node-type-kicklow #page-wrapper .proj-info .proj-comments #comments .comment > h3, .node-type-kicklow #page-wrapper .proj-info .proj-comments #comments .comment .links.inline {
          display: none; }
        .node-type-kicklow #page-wrapper .proj-info .proj-comments #comments .comment .content {
          margin-top: 15px; }
      .node-type-kicklow #page-wrapper .proj-info .proj-comments #comments .comment-form .form-item-subject {
        display: none; }
      .node-type-kicklow #page-wrapper .proj-info .proj-comments #comments .comment-form .form-actions input#edit-preview {
        display: none; }
      .node-type-kicklow #page-wrapper .proj-info .proj-comments #comments .comment-form .form-actions input#edit-submit {
        border-radius: 3px;
        padding: 5px 10px;
        background-color: #f05a28;
        border: none;
        color: white; }
        .node-type-kicklow #page-wrapper .proj-info .proj-comments #comments .comment-form .form-actions input#edit-submit:hover {
          cursor: pointer; }
      .node-type-kicklow #page-wrapper .proj-info .comment .expand-button {
        float: right;
        margin: 10px 10px 0 0;
        border: 1px solid black;
        position: relative;
        height: 20px;
        width: 20px;
        border-radius: 50%; }
        .node-type-kicklow #page-wrapper .proj-info .comment .expand-button span {
          margin: 0;
          position: absolute;
          font-size: 18px;
          right: 5px;
          top: 0; }
    .node-type-kicklow #page-wrapper .all-bounties {
      padding: 15px;
      width: 35%;
      margin: 0 auto;
      float: right;
      position: relative; }
      @media screen and (max-width: 800px) {
        .node-type-kicklow #page-wrapper .all-bounties.bounties-desktop {
          display: none; } }
      .node-type-kicklow #page-wrapper .all-bounties .bounty {
        background: white;
        padding: 15px 15px 20px 15px;
        margin: 10px 0; }
        .node-type-kicklow #page-wrapper .all-bounties .bounty .headline {
          display: inline-block;
          float: left;
          width: 65%; }
          @media screen and (max-width: 800px) {
            .node-type-kicklow #page-wrapper .all-bounties .bounty .headline {
              width: 33%; } }
        .node-type-kicklow #page-wrapper .all-bounties .bounty .bounty-title {
          color: #8d8d8d;
          margin: 0; }
        .node-type-kicklow #page-wrapper .all-bounties .bounty .bounty-date {
          color: #dadada;
          margin-bottom: 25px; }
        .node-type-kicklow #page-wrapper .all-bounties .bounty .expand-button {
          background-color: #dadada;
          padding: 2px 5px;
          border-radius: 3px;
          width: 53px;
          color: white;
          font-size: 0.7rem;
          text-align: center;
          margin: 0 auto; }
          @media screen and (max-width: 800px) {
            .node-type-kicklow #page-wrapper .all-bounties .bounty .expand-button {
              clear: both; } }
        .node-type-kicklow #page-wrapper .all-bounties .bounty button {
          border-radius: 3px;
          padding: 8px 15px;
          background-color: #f05a28;
          border: none;
          margin: 0 10px 0 0;
          float: right; }
          .node-type-kicklow #page-wrapper .all-bounties .bounty button a {
            text-decoration: none;
            display: block;
            color: white;
            border-radius: inherit; }
        .node-type-kicklow #page-wrapper .all-bounties .bounty .owner-img {
          border-radius: 50%; }
      .node-type-kicklow #page-wrapper .all-bounties .bounty-desc {
        clear: both; }
        @media screen and (max-width: 800px) {
          .node-type-kicklow #page-wrapper .all-bounties .bounty-desc {
            clear: none;
            float: left;
            width: 67%; } }
      .node-type-kicklow #page-wrapper .all-bounties span.filter-button {
        display: inline-block;
        padding: 8px 10px;
        color: white;
        width: 100%;
        border-radius: 10px;
        background-color: #f05a28;
        margin: 0;
        text-align: center; }
        .node-type-kicklow #page-wrapper .all-bounties span.filter-button:hover {
          border-radius: 10px 10px 0 0; }
          .node-type-kicklow #page-wrapper .all-bounties span.filter-button:hover + ul.filter {
            display: block; }
      .node-type-kicklow #page-wrapper .all-bounties ul.filter {
        color: white;
        position: absolute;
        right: 15px;
        width: calc(100% - 30px);
        border-radius: 0 0 10px 10px;
        background-color: #f05a28;
        margin: 0;
        padding: 0;
        text-align: center;
        list-style-type: none;
        display: none; }
        .node-type-kicklow #page-wrapper .all-bounties ul.filter:hover {
          display: block; }
        .node-type-kicklow #page-wrapper .all-bounties ul.filter li {
          padding: 8px 10px; }
    .node-type-kicklow #page-wrapper .all-bounties.bounties-mobile {
      display: none; }
      @media screen and (max-width: 800px) {
        .node-type-kicklow #page-wrapper .all-bounties.bounties-mobile {
          display: block;
          width: 100%; } }
    .node-type-kicklow #page-wrapper .all {
      display: none; }
    .node-type-kicklow #page-wrapper .bounty .trunk p:nth-child(2), .node-type-kicklow #page-wrapper .comment .trunk .field-item p:nth-child(2) {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; }
    .node-type-kicklow #page-wrapper .bounty .trunk p:nth-child(n+3), .node-type-kicklow #page-wrapper .comment .trunk .field-item p:nth-child(n+3) {
      display: none; }

.node-type-kicklow {
  margin: 0;
  padding: 0; }
  .node-type-kicklow header > .section, .node-type-kicklow .tabs, .node-type-kicklow #skip-link {
    display: none; }
  .node-type-kicklow h1 {
    color: #a7a7a7; }
  .node-type-kicklow h2, .node-type-kicklow h3, .node-type-kicklow h4, .node-type-kicklow h5, .node-type-kicklow h6 {
    color: silver;
    margin-bottom: 15px;
    padding: 0; }
  .node-type-kicklow p {
    font-size: 68.75%; }
  .node-type-kicklow a {
    color: black;
    text-decoration: none; }
  .node-type-kicklow #admin-menu {
    display: none; }
  .node-type-kicklow .box {
    margin: 10px 0;
    padding: 10px; }
  .node-type-kicklow #page-wrapper {
    background-color: #f0f0f0;
    margin: 0 auto;
    padding: 20px;
    max-width: 1150px; }
    .node-type-kicklow #page-wrapper h1.title {
      color: #8d8d8d;
      padding: 10px; }
    .node-type-kicklow #page-wrapper .proj-info {
      float: left;
      width: 65%; }
      @media screen and (max-width: 800px) {
        .node-type-kicklow #page-wrapper .proj-info {
          width: 100%; } }
      .node-type-kicklow #page-wrapper .proj-info .proj-deets {
        background: white; }
        .node-type-kicklow #page-wrapper .proj-info .proj-deets .proj-owner {
          border-right: 1px solid #f0f0f0;
          float: left;
          width: 40%; }
        .node-type-kicklow #page-wrapper .proj-info .proj-deets .proj-type, .node-type-kicklow #page-wrapper .proj-info .proj-deets .proj-date {
          float: left;
          width: 24%; }
      .node-type-kicklow #page-wrapper .proj-info .proj-status {
        background: white;
        margin: 10px 0; }
        .node-type-kicklow #page-wrapper .proj-info .proj-status .title {
          text-align: center; }
        .node-type-kicklow #page-wrapper .proj-info .proj-status .chart1 {
          display: inline-block;
          max-width: 150px; }
        .node-type-kicklow #page-wrapper .proj-info .proj-status canvas {
          max-width: 200px;
          max-height: 200px; }
      .node-type-kicklow #page-wrapper .proj-info .proj-desc {
        width: 60%;
        float: left; }
      .node-type-kicklow #page-wrapper .proj-info .proj-resources {
        width: 31%;
        float: right; }
        .node-type-kicklow #page-wrapper .proj-info .proj-resources .one-res > h3 {
          font-size: 14px;
          color: black;
          margin: 0; }
        .node-type-kicklow #page-wrapper .proj-info .proj-resources .one-res > a {
          color: #58c0a2;
          font-size: 10px;
          display: inline-block;
          margin-bottom: 20px; }
      .node-type-kicklow #page-wrapper .proj-info .proj-updates .update {
        padding: 20px;
        background: white;
        margin-bottom: 15px; }
      .node-type-kicklow #page-wrapper .proj-info .proj-comments #comments .title {
        display: none; }
      .node-type-kicklow #page-wrapper .proj-info .proj-comments #comments img:first-of-type {
        border-radius: 50%; }
      .node-type-kicklow #page-wrapper .proj-info .proj-comments #comments .comment {
        padding: 15px 20px;
        margin-bottom: 15px;
        background-color: white; }
        .node-type-kicklow #page-wrapper .proj-info .proj-comments #comments .comment > h3, .node-type-kicklow #page-wrapper .proj-info .proj-comments #comments .comment .links.inline {
          display: none; }
        .node-type-kicklow #page-wrapper .proj-info .proj-comments #comments .comment .content {
          margin-top: 15px; }
      .node-type-kicklow #page-wrapper .proj-info .proj-comments #comments .comment-form .form-item-subject {
        display: none; }
      .node-type-kicklow #page-wrapper .proj-info .proj-comments #comments .comment-form .form-actions input#edit-preview {
        display: none; }
      .node-type-kicklow #page-wrapper .proj-info .proj-comments #comments .comment-form .form-actions input#edit-submit {
        border-radius: 3px;
        padding: 5px 10px;
        background-color: #f05a28;
        border: none;
        color: white; }
        .node-type-kicklow #page-wrapper .proj-info .proj-comments #comments .comment-form .form-actions input#edit-submit:hover {
          cursor: pointer; }
      .node-type-kicklow #page-wrapper .proj-info .comment .expand-button {
        float: right;
        margin: 10px 10px 0 0;
        border: 1px solid black;
        position: relative;
        height: 20px;
        width: 20px;
        border-radius: 50%; }
        .node-type-kicklow #page-wrapper .proj-info .comment .expand-button span {
          margin: 0;
          position: absolute;
          font-size: 18px;
          right: 5px;
          top: 0; }
    .node-type-kicklow #page-wrapper .all-bounties {
      padding: 15px;
      width: 35%;
      margin: 0 auto;
      float: right;
      position: relative; }
      @media screen and (max-width: 800px) {
        .node-type-kicklow #page-wrapper .all-bounties.bounties-desktop {
          display: none; } }
      .node-type-kicklow #page-wrapper .all-bounties .bounty {
        background: white;
        padding: 15px 15px 20px 15px;
        margin: 10px 0; }
        .node-type-kicklow #page-wrapper .all-bounties .bounty .headline {
          display: inline-block;
          float: left;
          width: 65%; }
          @media screen and (max-width: 800px) {
            .node-type-kicklow #page-wrapper .all-bounties .bounty .headline {
              width: 33%; } }
        .node-type-kicklow #page-wrapper .all-bounties .bounty .bounty-title {
          color: #8d8d8d;
          margin: 0; }
        .node-type-kicklow #page-wrapper .all-bounties .bounty .bounty-date {
          color: #dadada;
          margin-bottom: 25px; }
        .node-type-kicklow #page-wrapper .all-bounties .bounty .expand-button {
          background-color: #dadada;
          padding: 2px 5px;
          border-radius: 3px;
          width: 53px;
          color: white;
          font-size: 0.7rem;
          text-align: center;
          margin: 0 auto; }
          @media screen and (max-width: 800px) {
            .node-type-kicklow #page-wrapper .all-bounties .bounty .expand-button {
              clear: both; } }
        .node-type-kicklow #page-wrapper .all-bounties .bounty button {
          border-radius: 3px;
          padding: 8px 15px;
          background-color: #f05a28;
          border: none;
          margin: 0 10px 0 0;
          float: right; }
          .node-type-kicklow #page-wrapper .all-bounties .bounty button a {
            text-decoration: none;
            display: block;
            color: white;
            border-radius: inherit; }
        .node-type-kicklow #page-wrapper .all-bounties .bounty .owner-img {
          border-radius: 50%; }
      .node-type-kicklow #page-wrapper .all-bounties .bounty-desc {
        clear: both; }
        @media screen and (max-width: 800px) {
          .node-type-kicklow #page-wrapper .all-bounties .bounty-desc {
            clear: none;
            float: left;
            width: 67%; } }
      .node-type-kicklow #page-wrapper .all-bounties span.filter-button {
        display: inline-block;
        padding: 8px 10px;
        color: white;
        width: 100%;
        border-radius: 10px;
        background-color: #f05a28;
        margin: 0;
        text-align: center; }
        .node-type-kicklow #page-wrapper .all-bounties span.filter-button:hover {
          border-radius: 10px 10px 0 0; }
          .node-type-kicklow #page-wrapper .all-bounties span.filter-button:hover + ul.filter {
            display: block; }
      .node-type-kicklow #page-wrapper .all-bounties ul.filter {
        color: white;
        position: absolute;
        right: 15px;
        width: calc(100% - 30px);
        border-radius: 0 0 10px 10px;
        background-color: #f05a28;
        margin: 0;
        padding: 0;
        text-align: center;
        list-style-type: none;
        display: none; }
        .node-type-kicklow #page-wrapper .all-bounties ul.filter:hover {
          display: block; }
        .node-type-kicklow #page-wrapper .all-bounties ul.filter li {
          padding: 8px 10px; }
    .node-type-kicklow #page-wrapper .all-bounties.bounties-mobile {
      display: none; }
      @media screen and (max-width: 800px) {
        .node-type-kicklow #page-wrapper .all-bounties.bounties-mobile {
          display: block;
          width: 100%; } }
    .node-type-kicklow #page-wrapper .all {
      display: none; }
    .node-type-kicklow #page-wrapper .bounty .trunk p:nth-child(2), .node-type-kicklow #page-wrapper .comment .trunk .field-item p:nth-child(2) {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; }
    .node-type-kicklow #page-wrapper .bounty .trunk p:nth-child(n+3), .node-type-kicklow #page-wrapper .comment .trunk .field-item p:nth-child(n+3) {
      display: none; }
