 /*vFont and site typograpgy details. */

@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(http://themes.googleusercontent.com/static/fonts/dosis/v2/Ewe0SEXPrakEimFzbOGwB6CWcynf_cDxXwCLxiixG1c.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

 h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    line-height: 46px;
    font-size: 40px;
    margin: 0 0 23px 0;
    }

h2 {
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 23px 0;
    }

h3 {
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    margin: 0 0 23px 0;
    }

 body, h4 {
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 23px 0;
    }

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 23px;
    margin: 0 0 23px 0;
    }

 /* Site attributes. */

.list-wrapper {
  margin-top: 20px;
}

.project .panel {
  height: 150px;
}
  .project .panel img {
    max-height: 80px;
    max-width: 80px;
    margin-right: 10px;
  }

  /*Sitewide characteristics of buttons and links */

  button {

  }

  /*Header styling */

  .container {
    width:100%;
  }

  header#navbar {
    margin-bottom: 65px;
  }

  a.logo img {
    max-width: 120px;
    margin-bottom: -75px;
  }

  .navbar.container {
    max-width: 100%;
  }

  /* dropdown avatar re-sizing. */

#header .container ul.nav li.dropdown a.dropdown-toggle img {
	max-width:65px;
}

.nav>li>a>img {
	max-width:65px;
}



/*framing, outlines, spacing, boundries and list bullet removal*/

section#projects {
	height: 350px;
}
.project1, .project2, .project3 {
	height:200px;
	width: 250px;
	border: 1px solid gray;
	margin:15px;
}
.live_feed, .border {
	height: 200px;
	border:1px solid gray;
	margin:10px;
}

#personal_info .personal_avatar img {
	margin: 15px;
	border:1px solid gray;
  display: inline-block;
}

ul.border {
	list-style: none;
}

ul.social_network {
	list-style: none;
  display: inline-block;
  width: 350px;
  margin-left: 10px;
}

.scroll_button a button {
	position:fixed;
	bottom:80px;
	right:40px;
}

.name_status {
  display: inline-block;
  width: 350px;
}

/* Special arrows for projects-timeline page */

.left-arrow {
	position: absolute;
	left: -10px;
	top: 0;
	width: 0;
	height: 0;
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	border-right: 11px solid;
}

.right-arrow {
	position: absolute;
	right: -10px;
	top: 0px;
	width: 0;
	height: 0;
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	border-left: 11px solid;
}

/* thumbs */
.people-thumb img {
  max-height: 100px;
  max-width: 100px;
}

/* Inline editing */
.editable {
  cursor: context-menu;
}

/* Skills display*/

.progress .bar{
  float: left;
}

.col-lg-11 {
  padding-left: 0px;
  padding-right: 0px;
}

.progress.col-sm-10 {
  padding-left: 0px;
  padding-right: 0px;
}

.edit_social_media ul li {
  list-style: none;
}

