 /*vFont and site typograpgy details. */

@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(http://themes.googleusercontent.com/static/fonts/dosis/v2/Ewe0SEXPrakEimFzbOGwB6CWcynf_cDxXwCLxiixG1c.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

  html, body {
    height:100%;
    margin:0;
  }

 h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: 400px;
    line-height: 46px;
    font-size: 40px;
    margin: 20px 0 23px 0;    }

h2 {
    font-family: 'Dosis', sans-serif;
    font-weight: 800px;
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 23px 0;
    }

h3 {
    font-family: 'Dosis', sans-serif;
    font-weight: 800px;
    font-size: 18px;
    line-height: 23px;
    margin: 0 0 23px 0;
    }

 body, h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800px;
    font-size: 16px;
    line-height: 23px;
    }

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 23px;
    margin: 0 0 23px 0;
    }

 /* Site attributes. */

section {
  max-width: 100%;
  margin:0 auto;
}

.list-wrapper {
  margin-top: 20px;
}

.project .panel {
  height: 150px;
}
  .project .panel img {
    max-height: 80px;
    max-width: 80px;
    margin-right: 10px;
  }

  /*Sitewide characteristics of buttons and links */

  button {

  }
/*Header styling */

  .container {
    width:100%;
  }

  header#navbar {
    margin-bottom: 65px;
    background-color: rgb(0,0,0);
    height: 52px;
    z-index: 10;
    position:fixed;
    top:-20px;
  }

  header#navbar a {
    color: rgb(152,152,152);
  }

  header#navbar a.active, header#navbar a:hover {
    color: rgb(24,127,144);
  }

  a.logo img {
    max-width: 70px;
    margin-bottom: -75px;
    vertical-align: top
  }

  .navbar.container {
    max-width: 100%;
  }
  /*avatar colour block*/
  .navbar-default .navbar-nav>.open>a {
    background-color: black;
  }

  .navbar-default .navbar-nav>.active>a{
  background-color: white;
  }

  /*User Profile Dropdown Menu*/
  ul .dropdown-menu {
    background-color: black;
  }

  .nav>li>a.dropdown-toggle {
    padding-bottom: 0;
  }

/* dropdown avatar re-sizing. */
#header .container ul.nav li.dropdown a.dropdown-toggle img {
  max-width:65px;
}

.nav>li>a>img {
  max-width:65px;
}

/*User Image in Navbar*/

.user-picture {

}

.avatar {
  margin-top: -14px;
  height: 3em;
  width: auto;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(152,152,152);
  border-radius: 1.5em;
}

.dropdown-menu {
  margin-left: -50px;
}

h1.name {
  float: left;
}

a.name {
  font-size: 22px;
}


/*framing, outlines, spacing, boundries and list bullet removal*/

section#projects {
	height: 350px;
}
.project1, .project2, .project3 {
	height:200px;
	width: 250px;
	border: 1px solid gray;
	margin:15px;
}
.live_feed, .border {
	height: 200px;
	border:1px solid gray;
	margin:10px;
}

#personal_info .personal_avatar img {
	margin: 15px;
	border:1px solid gray;
  display: inline-block;
}

ul.border {
	list-style: none;
}

ul.social_network {
	list-style: none;
  display: inline-block;
  width: 100%;
  padding:0;
}

ul.social_network li {
  width:23%;
  padding-left: 21px;


}

.scroll_button a button {
	position:fixed;
	bottom:80px;
	right:40px;
}

.name_status {
  display: inline-block;
  width: 100%;
}

/* Special arrows for projects-timeline page */

.left-arrow {
	position: absolute;
	left: -13px;
	top: 0;
	width: 0;
	height: 0;
	border-top: 13px solid transparent;
	border-bottom: 13px solid transparent;
	border-right: 13px solid;
}

.right-arrow {
	position: absolute;
	right: -13px;
	top: 0px;
	width: 0;
	height: 0;
	border-top: 13px solid transparent;
	border-bottom: 13px solid transparent;
	border-left: 13px solid;
}

/* thumbs */
.people-thumb img {
  max-height: 100px;
  max-width: 100px;
}

/* Inline editing */
.editable {
  cursor: context-menu;
}

/* Skills display*/
#skills {
  z-index: 1;
}

#skill_legend {
  margin-top: 25px;
}

.progress .bar{
  float: left;
}

.guidebar {
  background-image: none;
  background-color: rgb(14,14,14);
}

.pbcurrent {
  background-image: none;
  background-color: rgb(55,126,148);
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pbdesired {
  background-image: none;
  background-color: rgb(95,176,158);
}

.col-lg-11 {
  padding-left: 0px;
  padding-right: 0px;
}

.progress.col-xs-10 {
  padding-left: 0px;
  padding-right: 0px;
}

.col-xs-10 {
  overflow: visible;
}

.edit_social_media ul li {
  list-style: none;
}

.inline-heading {
  display: inline;
}

/*Feedback Modal */
/* Reformatting user profile page for side aligned nav */

/*---------------------------------------------------- */

#info_teams .personal_avatar {
  width:100%;
}

  /* Re-configuring edit tabs and where they appear */

ul.tabs--primary.nav.nav-tabs {
  position:absolute;
  top:20px;
  right:10px;
}

ul.tabs--primary.nav.nav-tabs li {
  height:40px;
  width:80px;
  background: black;
  color:white;
  border-radius: 6px;
}
ul.tabs--primary.nav.nav-tabs li:nth-child(1) {
  display:none;
}
ul.tabs--primary.nav.nav-tabs li:nth-child(3) {
  display:none;
}
ul.tabs--primary.nav.nav-tabs li:nth-child(4) {
  display:none;
}
ul.tabs--primary.nav.nav-tabs li:nth-child(5) {
  display:none;
}

ul.tabs--primary.nav.nav-tabs li a {
  height:40px;
  width:80px;
  background: black;
  color:white;
  border-radius: 6px;
  padding-left: 24px;
  padding-bottom: 18px;
}

ul.tabs--primary.nav.nav-tabs li a:hover {
  background: black;
  color: rgb(24,127,144);
}

/*#info_teams {
  background-color: black;
  color: white;
}*/

section.col-sm-12 {
  padding-left: 0px;
}

.left_sidebar  {
  background-color: black;
  color: white;
  min-height: 500px;
  margin-left: -15px;
  margin-top: -32px;
  padding-top: 30px;
}

#team_button {
  margin-bottom: 15px;
  margin-left: -28px;
}

.col-centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}


.navbar-default {
  border-color: #000;
}

section#skills, section#projects {
  padding-left: 50px;
}

 /* Footer */
 /* If you change the height of the footer here, you need to also adjust the wrap margin and padding below */
#footer {
  width:100%;
  background-color: rgba(16,16,16,1);
  height: 52px;
  padding: 0;
  margin-top: 75px;
  clear: both;
}

h1.col-xs-offset-2 {
  padding-left: 50px;

}

/* This wraps the whole page except for the footer, so that the footer can be sticky at the bottom! */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin:0 auto -52px;
  padding:52px 0 0 0 ;
}

.usr_profile {
  margin-top: 75px;
}
